
  <form [formGroup]="Form" (ngSubmit)="Submit()"> 
    <div class="form-group">
      <label for="exampleInputEmail1">URL</label>
      <input type="text" class="form-control" formControlName="url"   placeholder="Enter URL">
      <div *ngIf="getControl.url.invalid && (getControl.url.dirty || getControl.url.touched)">
        <div *ngIf="getControl.url.errors?.required">
          <span style="color: red;">Please Enter URL</span>
        </div>
        <div *ngIf="getControl.url.errors?.pattern">
          <span style="color: red;">Please provide valid URL</span>
        </div>
      </div>
    </div>

 
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">URL</th>
        <th scope="col">ShortnessURL</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of List ; let i=index">
       
        <td>{{item.url}}</td>
        <td style="cursor: pointer;" (click)="ClickURL(item.url)">{{base}}{{item.segment}}</td>
      </tr>
   
   
    </tbody>
  </table>
 